# Nexus Sonatype Environment Configuration
# Copy this file to .env and modify the values as needed

# Port configuration (optional)
# The port on which Nexus will be accessible from your host for nexus and docker
# Default: 8081
NEXUS_PORT=8081
DOCKER_HTTP_PORT=8082
DOCKER_HTTPS_PORT=8083
